<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskApi</title>
</head>
<body style="display: flex; justify-content:center; flex-direction:column; aling-items:center;">
    <h1 style="text-align: center; color:rgb(66, 118, 14); ">Flask BackEnd with MongoDB</h1>
    <p style="text-align: center; font-size:x-large;">Use postman to test, and remember load your database enviroment vars</p>
</body>
</html>